<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
  </head>
  <body style="background-color: #f1f3f9; font-family: sans-serif">
    <div>

      <p style="margin-top: 100px;">Hello {{user_name}},</p>
      <p>
        You're receiving this email because you requested a password reset
      </p>
      <p>Please go to the following page and create a new password:</p>
      {% if DEVELOPMENT %}
      <a
        style="color: white"
        href="{{ protocol }}://localhost:3000/forget-password/reset/{{uid}}/{{token}}"
        >{{ protocol }}://localhost:3000/forget-password/reset/{{uid}}/{{token}}</a
      >
      {%else %}
      <a
        style="color: white"
        href="{{ protocol }}://localhost:3000/forget-password/reset/{{uid}}/{{token}}"
        >{{ protocol }}://localhost:3000/forget-password/reset/{{uid}}/{{token}}</a
      >
      {% endif %}
      <p>Your username, in case you've forgotten: {{ user.get_username }}</p>
    </div>
  </body>
</html>