<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
  </head>
  <body style="background-color: #f1f3f9; font-family: sans-serif">
    <div
      class="emailbody"
      style="
        background-color: #f9fbff;
        max-width: 1000px;
        font-size: 24px;
        width: 95%;
        margin: 10px auto;
        position: relative;
        padding: 90px 40px;
        padding-left: 60px;
        color: white;
        border-radius: 5px;
        box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.123);
        background-image: url(https://uploads-ssl.webflow.com/5eb05f4f6e90da9be00ef01f/5f583f8e98e34cb7d3ac404e_Intro_Pattern.svg),
          linear-gradient(174deg, #0a3873, #2c6fc6);
        background-position: center;
        background-size: contain;
      "
    >
      <img
        src="https://uploads-ssl.webflow.com/5eb05f4f6e90da9be00ef01f/5eb08c3bd637dce8ee7c34f2_Dash_Light.png"
        alt="logo"
        style="
         width: 220px;
          object-fit: contain;
          position: absolute;
          top: 2px;
          left: 35px;
        "
      />

      <p style="margin-top: 100px;">Hello {{user_name}},</p>
      <p>
        You're receiving this email because you requested a password reset for
        your user account at <a href="https://www.mydash.ai/" style="color: white">MyDash.Ai</a>
      </p>
      <p>Please go to the following page and create a new password:</p>
      {% if DEVELOPMENT %}
      <a
        style="color: white"
        href="{{ protocol }}://localhost:3000/forget-password/reset/{{uid}}/{{token}}"
        >{{ protocol }}://localhost:3000/forget-password/reset/{{uid}}/{{token}}</a
      >
      {%else %}
      <a
        style="color: white"
        href="{{ protocol }}://www.mydash.ai/forget-password/reset/{{uid}}/{{token}}"
        >{{ protocol }}://www.mydash.ai/forget-password/reset/{{uid}}/{{token}}</a
      >
      {% endif %}
      <p>Your username, in case you've forgotten: {{ user.get_username }}</p>
      <p>
        <a href="https://www.mydash.ai/" style="color: white">MyDash.Ai</a>
      </p>
    </div>
  </body>
</html>